body {
  background: #f5f5f5;
  color: #393e41;
  font-family: neue-kabel, Helvetica, sans-serif;
}

#menuToggle {
  display: block;
  position: fixed;
  width: 40px;
  top: 50px;

  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle a {
  text-decoration: none;
  color: #393e41;
  transition: all 0.1s ease-in-out;
  width: fit-content;
}

#menuToggle a:hover {
  color: #acacac;
}

#menuToggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
  -webkit-touch-callout: none;
}

#menuToggle span {
  display: block;
  width: 30px;
  height: 2px;
  margin-bottom: 7px;
  position: relative;
  background: #393e41;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
    background 0.2s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
}

#menuToggle span:first-child {
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

#menuToggle input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #393e41;
}

#menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
}

#menu {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 100vh;
  height: 70vh;
  left: -2px;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  background: #f5f5f5;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}

#menu li {
  padding: 10px 0;
  font-size: 40px;
  font-weight: 600;
  transition: all 0.1s ease-in;
}

#menu li:hover {
  color: #acacac;
}

#menuToggle input:checked ~ ul {
  transform: none;
}

@media (min-width: 1000px) {
  #menu {
    left: -30px;
    padding: 100px 80px;
    width: 110vh;
  }
  #menu li {
    font-size: 50px;
  }
}
@media (min-width: 1400px) {
  #menu {
    width: 100vh;
    height: 80vh;
  }
}
