/* Basics */
html {
  scroll-behavior: smooth;
}

body {
  margin: 0 40px;
  transition: all 0.2s ease-in-out;
  background-color: #f5f5f5;
}

/* Basics */

/* Accueil */
.main-ac {
  display: flex;
  flex-direction: column;
}

.hero-ac,
.hero-po {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
}

.hero-ac h1 {
  margin: 0;
}

.hero-ac h1 a {
  color: #393e41;
  font-family: neue-kabel, Helvetica, sans-serif;
  font-weight: 800;
  font-size: 50px;
  text-decoration: none;
}

.hero-ac h1 a:hover {
  -webkit-text-stroke: #393e41 1px;
  color: transparent;
  transition: all 0.1s ease-in-out;
}

.hero-ac h4 {
  color: #393e41;
  font-family: neue-kabel, Helvetica, sans-serif;
  font-weight: 600;
  font-size: 20px;
  margin: 0;
  padding-left: 10px;
}

.hero-ac h1,
.hero-ac h4 {
  opacity: 0;
  transform: translateY(30px);
  transition: opacity 1s ease, transform 1s ease;
}

.hero-ac h1.active,
.hero-ac h4.active {
  opacity: 1;
  transform: translateY(0);
  border: 0;
}

.about {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}

.about-ac {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-ac img {
  width: 250px;
  height: auto;
  border-radius: 65%;
  margin-bottom: 30px;
}

.about-ac-des {
  height: max-content;
}

.about-ac-des h4 {
  color: #393e41;
  font-family: neue-kabel, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 30px;
  margin: 0;
}

.about-ac-des p {
  color: #393e41;
  font-family: neue-kabel, Helvetica, sans-serif;
  font-weight: 200;
  font-size: 18px;
  text-align: justify;
}

.about-ac-des hr {
  background-color: #393e41;
}

.about {
  opacity: 0;
  transform: translateX(-100px);
  transition: opacity 1s ease, transform 1s ease;
}

.about img {
  opacity: 0;
  transform: translateX(150px);
  transition: opacity 1s ease, transform 1s ease;
}

.about.visible {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 1.5s ease, transform 1s ease;
}

.about.visible img {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 1.5s ease, transform 1s ease;
}
/* Accueil */

/* Work */
#buttons-box {
  margin-top: 120px;
  display: flex;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#buttons-box button {
  position: relative;
  border: none;
  background-color: transparent;
  color: #393e41;
  font-family: neue-kabel, Helvetica, sans-serif;
  font-weight: 600;
  font-size: 30px;
  margin-right: 15px;
}

#buttons-box button::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 3px;
  background-color: #393e41;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.3s ease;
}

#buttons-box button:hover::after {
  transform: scaleX(1);
  transform-origin: left;
  transition: transform 0.3s ease;
}

#buttons-box button:hover {
  cursor: pointer;
}

#work-content-box {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  margin: 50px 5px 100px 5px;
}

.work-content {
  width: 350px;
  text-align: center;

  padding: 10px;
  border: #393e41 solid 3px;
  display: flex;
  flex-direction: column;
  color: #393e41;
  text-decoration: none;
  font-family: neue-kabel, Helvetica, sans-serif;
  font-weight: 600;
  font-size: 20px;
  margin: 0 15px 30px;
  opacity: 0;
}

.work-content h3 {
  font-weight: 600;
  margin: 5px 0;
}

.work-content p {
  font-size: 15px;
  font-weight: 400;
  margin: 0;
}

.hover-green:hover {
  background-color: #52c53f;
  transition: all 0.2s ease-in-out;
  color: #f5f5f5;
}

.hover-red:hover {
  background-color: #e94f37;
  transition: all 0.2s ease-in-out;
  color: #f5f5f5;
}

#buttons-box button.active span {
  color: #393e41;
}

#buttons-box button.active::after {
  transform: scaleX(1);
}

.fade-in {
  opacity: 0;
  animation: fadeIn 0.2s ease-in-out forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.slide-in-from-left {
  animation: slideInFromLeft 0.5s ease-in-out forwards;
  transform: translateX(-100%);
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
/* Work */

/* Portfolio */
.hero-po {
  text-align: center;
  align-items: center;
}

.hero-po a {
  font-family: neue-kabel, Helvetica, sans-serif;
  font-weight: 800;
  font-size: 40px;
  color: #393e41;
  padding: 10px 0;
  text-decoration: none;
  width: fit-content;
}

.hero-po a:hover {
  color: #f5f5f5;
  transition: all 0.1s ease-in-out;
  cursor: pointer;
}

.comp {
  transition: color 0.3s;
  opacity: 0;
  transform: translateY(20px);
}

.comp.visible {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}
/* Portfolio */

/* UE */
#main-ue {
  margin-top: 120px;
  margin-bottom: 70px;
}

#main-ue h1 {
  margin: 0;
}

#description-ue h5 {
  font-weight: 600;
  font-size: 20px;
  margin: 25px 0 10px;
}

#description-ue p {
  text-align: justify;
  margin: 0;
}

#description-ue hr {
  border: solid 0.1px #393e41;
  margin: 25px 0;
}

.ue-content-box {
  border: 0.1px solid #393e41;
  padding: 10px;
  margin-bottom: 20px;
}

.ue-content-box button {
  font-weight: 600;
  transition: all 0.1s ease-in-out;
  cursor: cell;
  color: #393e41;
  text-decoration: none;
  background: transparent;
  border: none;
  font-size: 15px;
  text-align: start;
}

.ue-content-box button:hover {
  color: #acacac;
}

.ue-content-box hr {
  margin: 10px 0 0;
  border: solid 0.1px #393e41;
}

.ue-content {
  height: 0;
  overflow: hidden;
  transition: all 0.1s ease-in-out;
  display: flex;
  flex-direction: column;
}

.ue-content-box.open .ue-content {
  height: fit-content;
}

.projet-sub {
  margin: 15px 0;
}
.projet-sub h6 {
  margin: 0 0 2px;
  font-size: 16px;
  font-weight: 600;
}

.projet-sub p {
  margin: 0;
  text-align: justify;
  font-size: 15px;
}
.projet-sub-img {
  display: flex;
  flex-direction: column;
}
.ue-content img {
  width: 250px;
  margin: 0 auto;
  margin-bottom: 5px;
}

.ue-content a {
  color: #393e41;
  transition: all 0.2s ease-in-out;
}

.ue-content a:hover {
  color: #acacac;
}

/* UE */

/* Book */
.main-bo {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
/* Book */

/* responsive */

@media (max-width: 350px) {
  body {
    margin: 0 30px;
  }
  .about img {
    transform: translateX(130px);
  }

  .about-ac-des p {
    margin-bottom: 50px;
  }

  #main-ue {
    margin-top: 110px;
    margin-bottom: 70px;
  }
  .ue-content img {
    width: 220px;
  }
}
@media (min-width: 1000px) {
  body {
    margin: 0 80px;
  }

  .hero-ac h1 a {
    font-size: 70px;
  }
  .hero-ac h4 {
    font-size: 40px;
  }

  .about {
    flex-direction: initial;
  }
  .about-ac img {
    border-radius: 40px;
    margin-bottom: 0;
    width: 300px;
  }

  .about-ac-des,
  .about-ac img {
    margin: 0 40px;
  }
  .about-ac-des h4 {
    font-size: 35px;
  }
  .about-ac-des p {
    font-size: 20px;
  }

  .hero-po a {
    font-size: 50px;
  }

  #buttons-box {
    justify-content: start;
  }
  #buttons-box button {
    margin-right: 10px;
  }
  .projet-sub-img {
    flex-direction: initial;
    flex-wrap: wrap;
  }

  .ue-content-box button {
    font-size: 18px;
  }
  .ue-content img {
    width: 350px;
  }

  .ue-content a {
    font-size: 18px;
  }

  .projet-sub h6 {
    font-size: 19px;
  }
  .projet-sub p {
    font-size: 18px;
  }

  .main-bo h1 {
    font-size: 70px;
  }

  footer ul li a {
    font-size: 18px;
  }
  #main-ue h1 {
    font-size: 40px;
  }
  #description-ue p {
    font-size: 18px;
  }
}
/* responsive */
