body {
  margin: 0;
  background-color: #f5e8bd;
}

main {
  height: 100vh;
}

/* hero */

#hero {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#hero-me {
  top: 0 auto;
}

#hero-me h1 {
  font-family: neue-kabel;
  color: #74bc9f;
  font-weight: 800;
  font-size: 40px;

  margin: 0;

  text-align: center;
}

#hero-me h5 {
  font-family: neue-kabel;
  color: #74bc9f;
  font-weight: 600;
  font-size: 20px;

  margin: 0;

  text-align: center;
}

.marquee {
  overflow: hidden;
  border-top: 5px solid #74bc9f;
  border-bottom: 5px solid #74bc9f;
  display: flex;
  justify-content: space-around;
  margin: 3 0px 0;

  margin: 35px 0;
}

.marquee h4 {
  font-family: neue-kabel;
  color: #74bc9f;
  font-weight: 600;

  font-size: 30px;

  margin: 0;
  text-transform: uppercase;
  white-space: nowrap;
  padding-top: 5px;
}

.appa {
  transition: color 0.3s;
  opacity: 0;
  transform: translateY(20px);
}
.appa.visible {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}
/* hero */

/* description */

#description {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 30px;
}

#description-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#description h4 {
  font-family: neue-kabel;
  color: #74bc9f;
  font-weight: 600;
  font-size: 30px;
  margin: 0;
}

#description hr {
  border: solid 0.5px #74bc9f;
  background-color: #74bc9f;
  width: 100%;
  margin-bottom: 0;
}

#description img {
  border-radius: 15px;
  width: 200px;
  margin: 20px auto;
}

#description p {
  font-family: neue-kabel;
  color: #74bc9f;
  font-weight: 400;
  font-size: 18px;
  text-align: justify;
  margin: 0;
}

#description hr,
#description p {
  opacity: 0;
  transform: translateX(-30px);
  transition: opacity 1.5s ease, transform 1.5s ease;
}

#description h4,
#description img {
  opacity: 0;
  transform: translateX(30px);
  transition: opacity s ease, transform 1.5s ease;
}

#description.clear h4,
#description.clear hr,
#description.clear img,
#description.clear p {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 1.5s ease, transform 1.5s ease;
}

/* description */

/* projets */

.projets {
  height: fit-content;
  display: flex;
  flex-direction: column;

  margin: 50px 30px;
}

.projets h4 {
  font-family: neue-kabel;
  color: #74bc9f;
  font-weight: 600;
  font-size: 30px;
  margin: 0;
}
.projets hr {
  border: solid 0.5px #74bc9f;
  background-color: #74bc9f;
  width: 100%;
  margin-bottom: 0;
}

.projets p {
  font-family: neue-kabel;
  color: #74bc9f;
  font-weight: 400;
  font-size: 13px;
  text-align: justify;
  margin: 0;
  padding-top: 10px;
}

#wrap {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.projet-minibox {
  width: 250px;
  margin: 20px 0;
}

.projet-minibox img {
  width: 100%;
  border-radius: 15px;
}
.projet-minibox h6 {
  font-family: neue-kabel;
  color: #74bc9f;
  font-weight: 600;
  font-size: 15px;
  margin: 0;
}
.projet-minibox a {
  font-family: neue-kabel;
  color: #f5e8bd;
  text-decoration: none;
  padding: 3px 20px;
  font-size: 13px;
  border-radius: 5px;
  border: solid 1px #f5e8bd;

  background-color: #74bc9f;
  transition: all 0.1s ease-in-out;
}

.projet-minibox a:hover {
  background-color: #f5e8bd;
  color: #74bc9f;
  border: solid 1px #74bc9f;
}

.projet-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.gogo {
  opacity: 0;
  transform: translateY(15px);
  transition: opacity 1.5s, transform 1.5s;
}

/* projets */

/* footer */

footer {
  height: fit-content;
  display: flex;
  flex-direction: column;

  margin: 50px 30px;
}
#footer-wrap {
  margin: 10px 0;
  display: flex;
  justify-content: space-around;
}
footer hr {
  border: solid 0.5px #74bc9f;
  background-color: #74bc9f;
  width: 100%;
  margin-bottom: 0;
}

footer a {
  font-family: neue-kabel;
  color: #74bc9f;
  font-size: 15px;
  transition: all 0.1s ease-in-out;
  margin: 5px 0;
}

footer a:hover {
  color: #4a7967;
}
/* footer */

@media (min-width: 1000px) {
  #hero-me h1 {
    font-size: 90px;
  }

  #hero-me h5 {
    font-size: 35px;
  }

  .marquee h4 {
    font-size: 50px;
  }

  #description {
    margin: 0 100px;
  }

  #description-info {
    display: flex;
    flex-direction: initial;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  #description img {
    width: 350px;
    margin: 0 20px;
  }

  #description h4 {
    font-size: 35px;
  }

  #description p {
    font-size: 23px;
    margin: 0 20px;
  }

  .projets {
    margin: 0 100px;
    height: 100vh;
  }
  .projet-minibox {
    width: 400px;
    margin: 20px 50px;
  }

  #wrap {
    display: flex;
    flex-wrap: wrap;
    flex-direction: initial;
    align-items: initial;
  }

  .projets {
    height: fit-content;
  }

  .projets h6 {
    font-size: 20px;
  }
  .projets p {
    font-size: 18px;
  }

  .projet-minibox a {
    font-size: 18px;
    padding: 3px 30px;
  }
  footer {
    margin: 0 100px;
  }
  footer a {
    font-size: 18px;
  }
}

@media (min-width: 640px) and (max-width: 1000px) {
  #hero-me h1 {
    font-size: 60px;
  }

  #hero-me h5 {
    font-size: 30px;
  }
  .marquee h4 {
    font-size: 40px;
  }

  #description,
  footer,
  .projets {
    margin: 0 70px;
  }
  #description-info {
    display: flex;
    flex-direction: initial;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  #description img {
    width: 300px;
    margin: 0 15px;
  }

  #description p {
    font-size: 20px;
    margin: 0 15px;
  }

  #wrap {
    display: flex;
    flex-wrap: wrap;
    flex-direction: initial;
    align-items: initial;
  }
  .projet-minibox {
    margin: 20px;
  }
}
@media (min-width: 400px) and (max-width: 640px) {
  #hero-me h1 {
    font-size: 50px;
  }

  #hero-me h5 {
    font-size: 25px;
  }
  .marquee h4 {
    font-size: 35px;
  }

  #description img,
  .projet-minibox img {
    width: 250px;
  }

  #wrap {
    display: flex;
    flex-wrap: wrap;
  }
}
