@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  background: rgb(236, 236, 236);
  color: rgb(31, 31, 31);
}
body main header {
  position: fixed;
  height: 100vh;
  right: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
body main header nav ul {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 550px;
}
body main header nav ul li {
  list-style-type: none;
  text-align: center;
}
body main header nav ul li a {
  padding: 15px;
  color: rgb(31, 31, 31);
  background-color: rgba(211, 211, 211, 0.485);
  border-radius: 50px;
  height: 10px;
  width: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-in-out;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  opacity: 25%;
}
body main header nav ul li a:hover {
  transform: scale(115%);
  background-color: rgba(224, 224, 224, 0.485);
  opacity: 100%;
}
body main header nav ul li a.active {
  background-color: rgb(31, 31, 31);
  color: rgb(236, 236, 236);
  opacity: 100%;
}
body main #SEC1 {
  height: 100vh;
  padding: 0 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
body main #SEC1 #P1 {
  height: 100vh;
  margin: 40px 0;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  display: block;
}
body main #SEC1 #P1 .content-top {
  padding-top: 190px;
}
body main #SEC1 #P1 .content-top h1 {
  margin: 0;
  font-size: 50px;
  font-weight: 700;
  text-transform: uppercase;
}
body main #SEC1 #P1 .content-top h3 {
  margin: 0;
  font-size: 25px;
  font-weight: 500;
  margin-top: 18px;
}
body main #SEC1 #P1 .foot {
  display: flex;
  justify-content: end;
  align-items: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  justify-content: space-between;
}
body main #SEC1 #P1 .foot #foot-content h4 {
  margin: 0;
  font-size: 20px;
  font-weight: 400;
}
body main #SEC1 #P1 .foot #foot-content p {
  margin: 0;
  font-size: 20px;
  line-height: 30px;
  text-align: justify;
  width: 550px;
  font-size: 12px;
}
body main #SEC1 #P1 .foot .fleche-nav a {
  text-decoration: none;
}
body main #SEC1 #P1 .foot .fleche-nav a img {
  width: 50px;
  transition: all 0.2s ease-in-out;
}
body main #SEC1 #P1 .foot .fleche-nav a img:hover {
  transform: scale(115%);
}
body main #SEC2 {
  height: 100vh;
  padding: 0 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
body main #SEC2 #P2 {
  height: 100vh;
  margin: 40px 0;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
body main #SEC2 #P2 h2 {
  margin: 0;
  font-size: 35px;
  font-weight: 600;
}
body main #SEC2 #P2 .foot {
  display: flex;
  justify-content: end;
  align-items: center;
  position: absolute;
  bottom: 0;
  width: 100%;
}
body main #SEC2 #P2 .foot .fleche-nav a {
  text-decoration: none;
}
body main #SEC2 #P2 .foot .fleche-nav a img {
  width: 50px;
  transition: all 0.2s ease-in-out;
}
body main #SEC2 #P2 .foot .fleche-nav a img:hover {
  transform: scale(115%);
}
body main #T1 {
  height: 100vh;
  padding: 0 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 300vh;
  background: rgb(236, 236, 236);
  background: linear-gradient(180deg, rgb(236, 236, 236) 0%, rgb(236, 236, 236) 5%, rgb(31, 31, 31) 100%);
}
body main #SEC3 {
  height: 100vh;
  padding: 0 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgb(31, 31, 31);
  color: rgb(236, 236, 236);
}
body main #SEC3 #P3 {
  height: 100vh;
  margin: 40px 0;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
body main #SEC3 #P3 .box-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
body main #SEC3 #P3 .box-content .box-text {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
body main #SEC3 #P3 .box-content .box-text h5 {
  margin: 0;
  margin-bottom: 50px;
  font-size: 13px;
  font-weight: 300;
  text-transform: uppercase;
}
body main #SEC3 #P3 .box-content .box-text p {
  margin: 0;
  font-size: 20px;
  line-height: 30px;
  text-align: justify;
  width: 550px;
}
body main #SEC3 #P3 .box-content .illustration-propos {
  width: 550px;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: end;
}
body main #SEC3 #P3 .box-content .illustration-propos img {
  width: 400px;
  transition: all 0.5s ease-in-out;
  z-index: 5;
}
body main #SEC3 #P3 .box-content .illustration-propos img:hover {
  transform: scale(105%);
}
body main #SEC3 #P3 .box-content .illustration-propos table {
  text-align: center;
  border: solid 1px;
  border-collapse: collapse;
}
body main #SEC3 #P3 .box-content .illustration-propos table tr th {
  width: -moz-fit-content;
  width: fit-content;
  border: solid 1px;
  padding: 2px;
}
body main #SEC3 #P3 .box-content .illustration-propos table tr td {
  width: -moz-fit-content;
  width: fit-content;
  border: solid 1px;
  padding: 5px;
}
body main #SEC3 #P3 .box-content .illustration-propos .info-content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
body main #SEC3 #P3 .box-content .illustration-propos .info-content p {
  margin: 0;
  font-size: 13px;
  font-weight: 200;
}
body main #SEC3 #P3 .box-content .illustration-propos .info-content .button {
  font-size: 13px;
  font-weight: 200;
}
body main #SEC3 #P3 .box-content .illustration-propos .info-content .button:hover {
  text-decoration: none;
}
body main #SEC3 #P3 .foot {
  display: flex;
  justify-content: end;
  align-items: center;
  position: absolute;
  bottom: 0;
  width: 100%;
}
body main #SEC3 #P3 .foot .fleche-nav a {
  text-decoration: none;
}
body main #SEC3 #P3 .foot .fleche-nav a img {
  width: 50px;
  transition: all 0.2s ease-in-out;
}
body main #SEC3 #P3 .foot .fleche-nav a img:hover {
  transform: scale(115%);
}
body main #SEC4 {
  height: 100vh;
  padding: 0 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgb(31, 31, 31);
  color: rgb(236, 236, 236);
}
body main #SEC4 #P4 {
  height: 100vh;
  margin: 40px 0;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
body main #SEC4 #P4 .box-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row-reverse;
}
body main #SEC4 #P4 .box-content .box-text {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
body main #SEC4 #P4 .box-content .box-text h5 {
  margin: 0;
  margin-bottom: 50px;
  font-size: 13px;
  font-weight: 300;
  text-transform: uppercase;
}
body main #SEC4 #P4 .box-content .box-text p {
  margin: 0;
  font-size: 20px;
  line-height: 30px;
  text-align: justify;
  width: 550px;
}
body main #SEC4 #P4 .box-content p {
  margin: 0;
  font-size: 20px;
  line-height: 30px;
  text-align: justify;
  width: 550px;
}
body main #SEC4 #P4 .box-content .illustration-propos {
  width: 550px;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: start;
}
body main #SEC4 #P4 .box-content .illustration-propos img {
  width: 400px;
  transition: all 0.5s ease-in-out;
  z-index: 5;
}
body main #SEC4 #P4 .box-content .illustration-propos img:hover {
  transform: scale(105%);
}
body main #SEC4 #P4 .box-content .illustration-propos table {
  text-align: center;
  border: solid 1px;
  border-collapse: collapse;
}
body main #SEC4 #P4 .box-content .illustration-propos table tr th {
  width: -moz-fit-content;
  width: fit-content;
  border: solid 1px;
  padding: 2px;
}
body main #SEC4 #P4 .box-content .illustration-propos table tr td {
  width: -moz-fit-content;
  width: fit-content;
  border: solid 1px;
  padding: 5px;
}
body main #SEC4 #P4 .box-content .illustration-propos .info-content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
body main #SEC4 #P4 .box-content .illustration-propos .info-content p {
  margin: 0;
  font-size: 13px;
  font-weight: 200;
}
body main #SEC4 #P4 .box-content .illustration-propos .info-content .button {
  font-size: 13px;
  font-weight: 200;
}
body main #SEC4 #P4 .box-content .illustration-propos .info-content .button:hover {
  text-decoration: none;
}
body main #SEC4 #P4 .foot {
  display: flex;
  justify-content: end;
  align-items: center;
  position: absolute;
  bottom: 0;
  width: 100%;
}
body main #SEC4 #P4 .foot .fleche-nav a {
  text-decoration: none;
}
body main #SEC4 #P4 .foot .fleche-nav a img {
  width: 50px;
  transition: all 0.2s ease-in-out;
}
body main #SEC4 #P4 .foot .fleche-nav a img:hover {
  transform: scale(115%);
}
body main #T2 {
  height: 100vh;
  padding: 0 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 300vh;
  background: rgb(236, 236, 236);
  background: linear-gradient(0deg, rgb(236, 236, 236) 0%, rgb(236, 236, 236) 5%, rgb(31, 31, 31) 100%);
}
body main #SEC5 {
  height: 100vh;
  padding: 0 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
body main #SEC5 #P5 {
  height: 100vh;
  margin: 40px 0;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
body main #SEC5 #P5 .box-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
body main #SEC5 #P5 .box-content .box-text {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
body main #SEC5 #P5 .box-content .box-text h5 {
  margin: 0;
  margin-bottom: 50px;
  font-size: 13px;
  font-weight: 300;
  text-transform: uppercase;
}
body main #SEC5 #P5 .box-content .box-text p {
  margin: 0;
  font-size: 20px;
  line-height: 30px;
  text-align: justify;
  width: 550px;
}
body main #SEC5 #P5 .box-content p {
  margin: 0;
  font-size: 20px;
  line-height: 30px;
  text-align: justify;
  width: 550px;
}
body main #SEC5 #P5 .box-content .illustration-propos {
  width: 550px;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: end;
}
body main #SEC5 #P5 .box-content .illustration-propos img {
  width: 400px;
  transition: all 0.5s ease-in-out;
  z-index: 5;
}
body main #SEC5 #P5 .box-content .illustration-propos img:hover {
  transform: scale(105%);
}
body main #SEC5 #P5 .box-content .illustration-propos table {
  text-align: center;
  border: solid 1px;
  border-collapse: collapse;
}
body main #SEC5 #P5 .box-content .illustration-propos table tr th {
  width: -moz-fit-content;
  width: fit-content;
  border: solid 1px;
  padding: 2px;
}
body main #SEC5 #P5 .box-content .illustration-propos table tr td {
  width: -moz-fit-content;
  width: fit-content;
  border: solid 1px;
  padding: 5px;
}
body main #SEC5 #P5 .box-content .illustration-propos .info-content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
body main #SEC5 #P5 .box-content .illustration-propos .info-content p {
  margin: 0;
  font-size: 13px;
  font-weight: 200;
}
body main #SEC5 #P5 .box-content .illustration-propos .info-content .button {
  font-size: 13px;
  font-weight: 200;
}
body main #SEC5 #P5 .box-content .illustration-propos .info-content .button:hover {
  text-decoration: none;
}
body main #SEC5 #P5 .foot {
  display: flex;
  justify-content: end;
  align-items: center;
  position: absolute;
  bottom: 0;
  width: 100%;
}
body main #SEC5 #P5 .foot .fleche-nav a {
  text-decoration: none;
}
body main #SEC5 #P5 .foot .fleche-nav a img {
  width: 50px;
  transition: all 0.2s ease-in-out;
}
body main #SEC5 #P5 .foot .fleche-nav a img:hover {
  transform: scale(115%);
}
body main #SEC6 {
  height: 100vh;
  padding: 0 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
body main #SEC6 #P6 {
  height: 100vh;
  margin: 40px 0;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
body main #SEC6 #P6 .box-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row-reverse;
}
body main #SEC6 #P6 .box-content .box-text {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
body main #SEC6 #P6 .box-content .box-text h5 {
  margin: 0;
  margin-bottom: 50px;
  font-size: 13px;
  font-weight: 300;
  text-transform: uppercase;
}
body main #SEC6 #P6 .box-content .box-text p {
  margin: 0;
  font-size: 20px;
  line-height: 30px;
  text-align: justify;
  width: 550px;
}
body main #SEC6 #P6 .box-content p {
  margin: 0;
  font-size: 20px;
  line-height: 30px;
  text-align: justify;
  width: 550px;
}
body main #SEC6 #P6 .box-content .illustration-propos {
  width: 550px;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: start;
}
body main #SEC6 #P6 .box-content .illustration-propos #graphique {
  width: 100%;
}
body main #SEC6 #P6 .box-content .illustration-propos img {
  width: 400px;
  transition: all 0.5s ease-in-out;
  z-index: 5;
}
body main #SEC6 #P6 .box-content .illustration-propos img:hover {
  transform: scale(105%);
}
body main #SEC6 #P6 .box-content .illustration-propos table {
  text-align: center;
  border: solid 1px;
  border-collapse: collapse;
}
body main #SEC6 #P6 .box-content .illustration-propos table tr th {
  width: -moz-fit-content;
  width: fit-content;
  border: solid 1px;
  padding: 2px;
}
body main #SEC6 #P6 .box-content .illustration-propos table tr td {
  width: -moz-fit-content;
  width: fit-content;
  border: solid 1px;
  padding: 5px;
}
body main #SEC6 #P6 .box-content .illustration-propos .info-content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
body main #SEC6 #P6 .box-content .illustration-propos .info-content p {
  margin: 0;
  font-size: 13px;
  font-weight: 200;
}
body main #SEC6 #P6 .box-content .illustration-propos .info-content .button {
  font-size: 13px;
  font-weight: 200;
}
body main #SEC6 #P6 .box-content .illustration-propos .info-content .button:hover {
  text-decoration: none;
}
body main #SEC6 #P6 .foot {
  display: flex;
  justify-content: end;
  align-items: center;
  position: absolute;
  bottom: 0;
  width: 100%;
}
body main #SEC6 #P6 .foot .fleche-nav a {
  text-decoration: none;
}
body main #SEC6 #P6 .foot .fleche-nav a img {
  width: 50px;
  transition: all 0.2s ease-in-out;
}
body main #SEC6 #P6 .foot .fleche-nav a img:hover {
  transform: scale(115%);
}
body main #SEC7 {
  height: 100vh;
  padding: 0 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
body main #SEC7 #P7 {
  height: 100vh;
  margin: 40px 0;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
body main #SEC7 #P7 .box-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
body main #SEC7 #P7 .box-content .box-text {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
body main #SEC7 #P7 .box-content .box-text h5 {
  margin: 0;
  margin-bottom: 50px;
  font-size: 13px;
  font-weight: 300;
  text-transform: uppercase;
}
body main #SEC7 #P7 .box-content .box-text p {
  margin: 0;
  font-size: 20px;
  line-height: 30px;
  text-align: justify;
  width: 550px;
}
body main #SEC7 #P7 .box-content p {
  margin: 0;
  font-size: 20px;
  line-height: 30px;
  text-align: justify;
  width: 550px;
}
body main #SEC7 #P7 .box-content .illustration-propos {
  width: 550px;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: end;
}
body main #SEC7 #P7 .box-content .illustration-propos #graphique {
  width: 100%;
}
body main #SEC7 #P7 .box-content .illustration-propos img {
  width: 400px;
  transition: all 0.5s ease-in-out;
  z-index: 5;
}
body main #SEC7 #P7 .box-content .illustration-propos img:hover {
  transform: scale(105%);
}
body main #SEC7 #P7 .box-content .illustration-propos table {
  text-align: center;
  border: solid 1px;
  border-collapse: collapse;
}
body main #SEC7 #P7 .box-content .illustration-propos table tr th {
  width: -moz-fit-content;
  width: fit-content;
  border: solid 1px;
  padding: 2px;
}
body main #SEC7 #P7 .box-content .illustration-propos table tr td {
  width: -moz-fit-content;
  width: fit-content;
  border: solid 1px;
  padding: 5px;
}
body main #SEC7 #P7 .box-content .illustration-propos .info-content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
body main #SEC7 #P7 .box-content .illustration-propos .info-content p {
  margin: 0;
  font-size: 13px;
  font-weight: 200;
}
body main #SEC7 #P7 .box-content .illustration-propos .info-content .button {
  font-size: 13px;
  font-weight: 200;
}
body main #SEC7 #P7 .box-content .illustration-propos .info-content .button:hover {
  text-decoration: none;
}
body main #SEC7 #P7 .foot {
  display: flex;
  justify-content: end;
  align-items: center;
  position: absolute;
  bottom: 0;
  width: 100%;
}
body main #SEC7 #P7 .foot .fleche-nav a {
  text-decoration: none;
}
body main #SEC7 #P7 .foot .fleche-nav a img {
  width: 50px;
  transition: all 0.2s ease-in-out;
}
body main #SEC7 #P7 .foot .fleche-nav a img:hover {
  transform: scale(115%);
}
body main #T3 {
  height: 100vh;
  padding: 0 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 300vh;
  background: rgb(236, 236, 236);
  background: linear-gradient(180deg, rgb(236, 236, 236) 0%, rgb(236, 236, 236) 5%, rgb(31, 31, 31) 100%);
}
body main #SEC8 {
  height: 100vh;
  padding: 0 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgb(31, 31, 31);
  color: rgb(236, 236, 236);
}
body main #SEC8 #P8 {
  height: 100vh;
  margin: 40px 0;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
body main #SEC8 #P8 .box-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row-reverse;
}
body main #SEC8 #P8 .box-content .box-text {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
body main #SEC8 #P8 .box-content .box-text h5 {
  margin: 0;
  margin-bottom: 50px;
  font-size: 13px;
  font-weight: 300;
  text-transform: uppercase;
}
body main #SEC8 #P8 .box-content .box-text p {
  margin: 0;
  font-size: 20px;
  line-height: 30px;
  text-align: justify;
  width: 550px;
}
body main #SEC8 #P8 .box-content p {
  margin: 0;
  font-size: 20px;
  line-height: 30px;
  text-align: justify;
  width: 550px;
}
body main #SEC8 #P8 .box-content .illustration-propos {
  width: 550px;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: start;
}
body main #SEC8 #P8 .box-content .illustration-propos #graphique {
  width: 100%;
}
body main #SEC8 #P8 .box-content .illustration-propos #graph1 .c3-axis-y,
body main #SEC8 #P8 .box-content .illustration-propos #graph1 .c3-axis-x {
  stroke-width: 0.5px;
  stroke: rgb(236, 236, 236);
  font-weight: 100;
  font-family: "Montserrat", sans-serif;
}
body main #SEC8 #P8 .box-content .illustration-propos #graph1 .c3-legend-item text {
  stroke-width: 0.5px;
  stroke: rgb(236, 236, 236);
  font-weight: 100;
  font-family: "Montserrat", sans-serif;
}
body main #SEC8 #P8 .box-content .illustration-propos #graph1 .c3-axis line,
body main #SEC8 #P8 .box-content .illustration-propos #graph1 .c3-axis path {
  stroke: rgb(236, 236, 236);
}
body main #SEC8 #P8 .box-content .illustration-propos img {
  width: 400px;
  transition: all 0.5s ease-in-out;
  z-index: 5;
}
body main #SEC8 #P8 .box-content .illustration-propos img:hover {
  transform: scale(105%);
}
body main #SEC8 #P8 .box-content .illustration-propos table {
  text-align: center;
  border: solid 1px;
  border-collapse: collapse;
}
body main #SEC8 #P8 .box-content .illustration-propos table tr th {
  width: -moz-fit-content;
  width: fit-content;
  border: solid 1px;
  padding: 2px;
}
body main #SEC8 #P8 .box-content .illustration-propos table tr td {
  width: -moz-fit-content;
  width: fit-content;
  border: solid 1px;
  padding: 5px;
}
body main #SEC8 #P8 .box-content .illustration-propos .info-content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
body main #SEC8 #P8 .box-content .illustration-propos .info-content p {
  margin: 0;
  font-size: 13px;
  font-weight: 200;
}
body main #SEC8 #P8 .box-content .illustration-propos .info-content .button {
  font-size: 13px;
  font-weight: 200;
}
body main #SEC8 #P8 .box-content .illustration-propos .info-content .button:hover {
  text-decoration: none;
}
body main #SEC8 #P8 .foot {
  display: flex;
  justify-content: end;
  align-items: center;
  position: absolute;
  bottom: 0;
  width: 100%;
}
body main #SEC8 #P8 .foot .fleche-nav a {
  text-decoration: none;
}
body main #SEC8 #P8 .foot .fleche-nav a img {
  width: 50px;
  transition: all 0.2s ease-in-out;
}
body main #SEC8 #P8 .foot .fleche-nav a img:hover {
  transform: scale(115%);
}
body main #SEC9 {
  height: 100vh;
  padding: 0 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgb(31, 31, 31);
  color: rgb(236, 236, 236);
}
body main #SEC9 #P9 {
  height: 100vh;
  margin: 40px 0;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
body main #SEC9 #P9 .box-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
body main #SEC9 #P9 .box-content .box-text {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
body main #SEC9 #P9 .box-content .box-text h5 {
  margin: 0;
  margin-bottom: 50px;
  font-size: 13px;
  font-weight: 300;
  text-transform: uppercase;
}
body main #SEC9 #P9 .box-content .box-text p {
  margin: 0;
  font-size: 20px;
  line-height: 30px;
  text-align: justify;
  width: 550px;
}
body main #SEC9 #P9 .box-content p {
  margin: 0;
  font-size: 20px;
  line-height: 30px;
  text-align: justify;
  width: 550px;
}
body main #SEC9 #P9 .box-content .illustration-propos {
  width: 550px;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: end;
}
body main #SEC9 #P9 .box-content .illustration-propos #graphique {
  width: 100%;
}
body main #SEC9 #P9 .box-content .illustration-propos #graph2 {
  width: 600px;
  height: 450px;
}
body main #SEC9 #P9 .box-content .illustration-propos #graph2 .c3-axis-y,
body main #SEC9 #P9 .box-content .illustration-propos #graph2 .c3-axis-x {
  stroke-width: 0.5px;
  stroke: rgb(236, 236, 236);
  font-weight: 100;
  font-family: "Montserrat", sans-serif;
}
body main #SEC9 #P9 .box-content .illustration-propos #graph2 .c3-legend-item text {
  stroke-width: 0.5px;
  stroke: rgb(236, 236, 236);
  font-weight: 100;
  font-family: "Montserrat", sans-serif;
}
body main #SEC9 #P9 .box-content .illustration-propos #graph2 .c3-axis line,
body main #SEC9 #P9 .box-content .illustration-propos #graph2 .c3-axis path {
  stroke: rgb(236, 236, 236);
}
body main #SEC9 #P9 .box-content .illustration-propos img {
  width: 400px;
  transition: all 0.5s ease-in-out;
  z-index: 5;
}
body main #SEC9 #P9 .box-content .illustration-propos img:hover {
  transform: scale(105%);
}
body main #SEC9 #P9 .box-content .illustration-propos table {
  text-align: center;
  border: solid 1px;
  border-collapse: collapse;
}
body main #SEC9 #P9 .box-content .illustration-propos table tr th {
  width: -moz-fit-content;
  width: fit-content;
  border: solid 1px;
  padding: 2px;
}
body main #SEC9 #P9 .box-content .illustration-propos table tr td {
  width: -moz-fit-content;
  width: fit-content;
  border: solid 1px;
  padding: 5px;
}
body main #SEC9 #P9 .box-content .illustration-propos .info-content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
body main #SEC9 #P9 .box-content .illustration-propos .info-content p {
  margin: 0;
  font-size: 13px;
  font-weight: 200;
}
body main #SEC9 #P9 .box-content .illustration-propos .info-content .button {
  font-size: 13px;
  font-weight: 200;
}
body main #SEC9 #P9 .box-content .illustration-propos .info-content .button:hover {
  text-decoration: none;
}
body main #SEC9 #P9 .foot {
  display: flex;
  justify-content: end;
  align-items: center;
  position: absolute;
  bottom: 0;
  width: 100%;
}
body main #SEC9 #P9 .foot .fleche-nav a {
  text-decoration: none;
}
body main #SEC9 #P9 .foot .fleche-nav a img {
  width: 50px;
  transition: all 0.2s ease-in-out;
}
body main #SEC9 #P9 .foot .fleche-nav a img:hover {
  transform: scale(115%);
}
body main #T4 {
  height: 100vh;
  padding: 0 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 300vh;
  background: rgb(236, 236, 236);
  background: linear-gradient(0deg, rgb(236, 236, 236) 0%, rgb(236, 236, 236) 5%, rgb(31, 31, 31) 100%);
}
body main #SEC10 {
  height: 100vh;
  padding: 0 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
body main #SEC10 #P10 {
  height: 100vh;
  margin: 40px 0;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
body main #SEC10 #P10 .box-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row-reverse;
}
body main #SEC10 #P10 .box-content .box-text {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
body main #SEC10 #P10 .box-content .box-text h5 {
  margin: 0;
  margin-bottom: 50px;
  font-size: 13px;
  font-weight: 300;
  text-transform: uppercase;
}
body main #SEC10 #P10 .box-content .box-text p {
  margin: 0;
  font-size: 20px;
  line-height: 30px;
  text-align: justify;
  width: 550px;
}
body main #SEC10 #P10 .box-content p {
  margin: 0;
  font-size: 20px;
  line-height: 30px;
  text-align: justify;
  width: 550px;
}
body main #SEC10 #P10 .box-content .illustration-propos {
  width: 550px;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: start;
}
body main #SEC10 #P10 .box-content .illustration-propos #graphique {
  width: 100%;
}
body main #SEC10 #P10 .box-content .illustration-propos img {
  width: 400px;
  transition: all 0.5s ease-in-out;
  z-index: 5;
}
body main #SEC10 #P10 .box-content .illustration-propos img:hover {
  transform: scale(105%);
}
body main #SEC10 #P10 .box-content .illustration-propos table {
  text-align: center;
  border: solid 1px;
  border-collapse: collapse;
}
body main #SEC10 #P10 .box-content .illustration-propos table tr th {
  width: -moz-fit-content;
  width: fit-content;
  border: solid 1px;
  padding: 2px;
}
body main #SEC10 #P10 .box-content .illustration-propos table tr td {
  width: -moz-fit-content;
  width: fit-content;
  border: solid 1px;
  padding: 5px;
}
body main #SEC10 #P10 .box-content .illustration-propos .info-content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
body main #SEC10 #P10 .box-content .illustration-propos .info-content p {
  margin: 0;
  font-size: 13px;
  font-weight: 200;
}
body main #SEC10 #P10 .box-content .illustration-propos .info-content .button {
  font-size: 13px;
  font-weight: 200;
}
body main #SEC10 #P10 .box-content .illustration-propos .info-content .button:hover {
  text-decoration: none;
}
body main #SEC10 #P10 .foot {
  display: flex;
  justify-content: end;
  align-items: center;
  position: absolute;
  bottom: 0;
  width: 100%;
}
body main #SEC10 #P10 .foot .fleche-nav a {
  text-decoration: none;
}
body main #SEC10 #P10 .foot .fleche-nav a img {
  width: 50px;
  transition: all 0.2s ease-in-out;
}
body main #SEC10 #P10 .foot .fleche-nav a img:hover {
  transform: scale(115%);
}/*# sourceMappingURL=styles.css.map */