@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

body {
  margin: 0;
  font-family: "Ubuntu", sans-serif;
}
header {
  position: fixed;
  width: 100%;
  z-index: 9;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  padding: 5px 15px;
}

nav li {
  list-style-type: none;
}

nav ul {
  display: flex;
}

nav a {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  padding-inline: 15px;
}

section {
  position: relative;
  height: 1000px;
  background-size: auto 1200px;
  background-attachment: fixed;
}

#accueil {
  background-image: url(../img/plage.jpg);
}

#galerie {
  background-image: url(../img/marguerite-daisy-beautiful-beauty.jpg);
}

#competences {
  background-image: url(../img/umbrellas.jpg);
}

#contact {
  background-image: url(../img/above-adventure-aerial-air.jpg);
}

.art1 {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border-radius: 20px;
  width: 450px;
  text-align: justify;
  padding: 20px;
  top: 200px;
  right: 200px;
  line-height: 25px;
}

.art2 {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  border-radius: 20px;
  width: 450px;
  text-align: justify;
  padding: 20px;
  top: 200px;
  left: 200px;
  line-height: 25px;
}
