@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

@mixin flexBetween {
  display: flex;
  justify-content: space-between;
}

@mixin flexColumn {
  display: flex;
  flex-direction: column;
}

body {
  margin: 0;

  main {
    height: 100vh;

    header {
      background-color: #18302b;
      height: 100px;
      @include flexBetween();
      align-items: center;
      padding: 0 50px;
      a {
        color: #dfcaa4;
        margin: 0;
        font-size: 28px;
        text-decoration: none;

        font-weight: 300;
      }
      nav {
        ul {
          display: flex;
          li {
            list-style-type: none;
            margin-left: 30px;
            @include flexColumn();

            a {
              text-decoration: none;
              color: #fff;
              font-family: Quicksand;
              font-size: 16px;
            }
            a:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }

    .hero {
      height: 688px;
      background-image: url(../img/eoliennes.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      .hero-content {
        padding-top: 91px;
        padding-left: 150px;
        h1 {
          color: white;
          font-family: "Playfair Display", serif;
          font-size: 70px;
          font-weight: 800;
          margin: 0;
          margin-bottom: 66px;
        }
        a {
          color: black;
          padding: 12px 30px;
          font-size: 15px;
          background-color: white;
          text-decoration: none;
          font-family: "Quicksand", sans-serif;
          font-weight: 500;
          transition: all 0.2s ease-in-out;
        }
        a:hover {
          background-color: rgb(193, 193, 193);
        }
      }
    }

    .scroll-info {
      display: flex;
      justify-content: center;
      margin: 2px 0;
    }

    .about {
      margin: 0 150px;
      padding-top: 40px;
      padding-bottom: 50px;
      h2 {
        font-family: "Rubik", sans-serif;
        margin: 0;
        margin-bottom: 50px;
        font-weight: 500;
        font-size: 46px;
      }
      .about-content {
        @include flexBetween();
        align-items: center;
        margin-bottom: 50px;
        .about-content-img {
          display: inline-block;
          overflow: hidden;
          border-radius: 50%;
          position: relative;
          img {
            border-radius: 50%;
            width: 500px;
            transition: all 0.5s ease-in-out;
            .zoomable {
              width: 100%;
              height: 100%;
              object-fit: cover;
              transition: transform 0.1s ease;
            }
          }
        }
        .about-content-img:hover .zoomable {
          transform: scale(1.1);
        }
        .about-content-des {
          h3 {
            font-family: "Rubik", sans-serif;
            margin: 0;
            margin-bottom: 40px;
            font-weight: 500;
            font-size: 40px;
          }
          p {
            font-family: "Quicksand", sans-serif;
            font-weight: 400;
            font-size: 20px;
            width: 450px;
          }
        }
      }
    }

    .industries {
      background-color: #18302b;
      padding-bottom: 50px;
      h3 {
        font-family: "Rubik", sans-serif;
        color: white;
        font-weight: 500;
        font-size: 46px;
        margin: 0;
        padding: 50px 0;
        text-align: center;
      }
      .industries-content {
        display: flex;
        justify-content: space-around;
        margin: 0 280px;
        .industries-content-des {
          @include flexColumn();

          align-items: center;
          .icon {
            height: 100px;
            width: 100px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: white;
            border-radius: 50%;
            overflow: hidden;
          }
          .rotate {
            transition: transform 0.5s ease-in-out;
          }
          .icon:hover .rotate {
            animation: rotate 1s infinite linear;
          }

          @keyframes rotate {
            0% {
              transform: rotate(0deg);
            }
            100% {
              transform: rotate(360deg);
            }
          }
          p {
            color: white;
            font-size: 20px;
            font-family: "Quicksand", sans-serif;
            font-weight: 400;
          }
        }
      }
    }

    .video {
      height: 869px;
      display: flex;
      justify-content: center;
      align-items: center;
      .video-content {
        height: 604px;
        width: 1140px;
        background-image: url(../img/batiment2.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 15px;
        position: relative;
        .video-content-button {
          position: absolute;
          bottom: 44px;
          left: 44px;
          display: flex;
          align-items: center;
          .play-back {
            height: 45px;
            width: 45px;
            border-radius: 50%;
            background-color: rgba(210, 210, 210, 0.56);
            display: flex;
            justify-content: center;
            align-items: center;
          }
          p {
            color: white;
            font-size: 24px;
            font-family: "Quicksand", sans-serif;
            font-weight: 400;
            padding-left: 16px;
            margin: 0;
          }
        }
      }
    }

    .clients-say {
      padding: 88px 148px;
      @include flexColumn();
      justify-content: center;
      align-items: center;
      background: rgba(24, 48, 43, 0.03);
      h1 {
        color: #1e1e1e;
        text-align: center;
        font-family: Rubik;
        font-size: 46px;
        font-weight: 600;
        margin-top: 0;
      }
      p {
        color: #1e1e1e;
        text-align: center;
        font-family: Quicksand;
        font-size: 14px;
        width: 650px;
        font-weight: 400;
      }

      .clients-info {
        @include flexBetween();

        .clients {
          @include flexColumn();

          width: 360px;
          height: 380px;
          margin: 32px 24px 24px 24px;

          align-items: center;
          justify-content: center;
          border-radius: 12px;
          background: #fff;
          box-shadow: 21px 24px 34px 0px rgba(0, 0, 0, 0.01);
          .cli-img1 {
            width: 88px;
            height: 88px;
            border-radius: 50px;
          }
          h5 {
            color: #1e1e1e;
            font-family: Quicksand;
            font-size: 16px;
            margin: 15px 0 5px 0;
            font-weight: 700;
          }
          h6 {
            opacity: 0.7;
            color: #1e1e1e;
            font-family: Quicksand;
            font-size: 12px;
            margin: 0;
            margin-bottom: 20px;
            font-weight: 400;
          }
          p {
            width: 286px;
            margin-bottom: 40px;
          }
          .cli-img2 {
            width: 63px;
            height: 20px;
            flex-shrink: 0;
            border-radius: 0px;
          }
        }
      }
    }

    .blog {
      height: 720px;
      padding: 136px 150px;
      @include flexColumn();

      justify-content: space-around;
      h1 {
        color: #1e1e1e;

        font-family: Rubik;
        font-size: 46px;
        font-weight: 600;
        margin-top: 0;
      }
      .blog-gallery {
        @include flexBetween();

        .gallery-box {
          @include flexColumn();

          width: 350px;
          height: 560px;

          justify-content: center;

          gap: 12px;
          img {
            width: 100%;
            height: auto;
          }
          h6 {
            color: #1e1e1e;
            font-family: Quicksand;
            font-size: 14px;
            font-weight: 400;
            margin: 0;
            text-align: start;
          }
          h3 {
            color: #1e1e1e;
            font-family: Quicksand;
            font-size: 20px;
            font-weight: 700;
            margin: 0;
          }
          p {
            color: #1e1e1e;
            font-family: Quicksand;
            font-size: 14px;
            font-weight: 400;
            margin: 0;
          }
        }
      }
      a {
        padding: 12px 20px;
        border-radius: 26px;
        border: 1px solid #b6b6b6;
        color: #1e1e1e;
        font-family: Quicksand;
        font-size: 14px;
        font-weight: 500;
        margin: 0 auto;
        text-decoration: none;
        transition: all 0.2s ease-in-out;
      }
      a:hover {
        background-color: #b6b6b6;
      }
    }

    .contact-us {
      height: 189px;
      background: rgba(51, 80, 74, 0.08);
      padding: 0 550px;
      align-items: center;
      @include flexBetween();

      h2 {
        color: #000;
        font-family: Quicksand;
        font-size: 36px;

        font-weight: 700;
      }
      a {
        background: #33504a;
        padding: 12px 18px;
        color: #fff;
        text-align: center;
        font-family: Quicksand;
        font-size: 16px;

        font-weight: 400;
        text-decoration: none;
        transition: all 0.2s ease-in-out;
      }
      a:hover {
        background-color: #598d82;
      }
    }

    .form {
      height: 505px;
      padding: 136px 150px;
      h2 {
        color: #1e1e1e;
        font-family: Rubik;
        font-size: 46px;
        font-weight: 600;
        letter-spacing: 1.84px;
        text-transform: uppercase;
        margin-top: 0;
      }
      .form-flex {
        @include flexBetween();

        p {
          color: #1e1e1e;
          font-family: Quicksand;
          font-size: 15px;
          font-weight: 400;
          line-height: 40px;
          margin: 0;
        }
        .formulaire {
          @include flexColumn();

          gap: 20px;
          align-items: end;
          input {
            width: 500px;
            height: 40px;
            padding-left: 15px;
            align-items: flex-start;
            border: 1px solid #d4d4d4;
            background: #fff;
          }
          textarea {
            background: #f4f4f4;
            resize: none;
            border: 1px solid #d4d4d4;
            padding-top: 15px;
            padding-left: 15px;
            width: 500px;
          }
          button {
            padding: 12px 40px;
            background: #737373;
            color: #fff;
            font-family: Quicksand;
            font-size: 14px;

            font-weight: 500;
            border: none;
            transition: all 0.2s ease-in-out;
          }
          button:hover {
            background-color: #b6b6b6;
            cursor: pointer;
          }
        }
      }
    }

    footer {
      background: #18302b;
      height: 233px;
      padding: 70px 100px 20px;

      .footer-flex {
        @include flexBetween();

        a {
          color: #dfcaa4;
          margin: 0;
          font-size: 28px;
          text-decoration: none;

          font-weight: 300;
        }
        .navs {
          display: flex;
          nav {
            ul {
              margin: 0;
              li {
                list-style-type: none;
                @include flexColumn();

                padding-bottom: 10px;
                a {
                  transition: all 0.2s ease-in-out;
                  color: #fff;

                  font-family: Quicksand;
                  font-size: 14px;
                  font-weight: 400;
                }
                a:hover {
                  text-decoration: underline;
                }
              }
            }
          }
        }
        .foot-contact {
          @include flexColumn();

          .foot-cont {
            padding: 10px 15px;
            background-color: rgba(211, 211, 211, 0.257);
            border-radius: 10px;
            input {
              height: 25px;
              background: none;
              border: none;
              color: white;
            }
            ::placeholder {
              color: rgba(255, 255, 255, 0.631);
            }
            button {
              border-radius: 6px;
              background: #fff;
              width: 80px;
              height: 34px;
              color: #262626;
              text-align: center;
              font-family: Quicksand;
              font-size: 14px;

              font-weight: 400;
              border: none;
              transition: all 0.2s ease-in-out;
            }
            button:hover {
              background: rgb(205, 205, 205);
              cursor: pointer;
            }
          }
          .res-soc {
            margin-top: 20px;
            a {
              margin-right: 15px;
            }
          }
        }
      }

      p {
        color: #fff;
        font-family: Quicksand;
        font-size: 12px;

        font-weight: 400;
        text-align: center;
        margin: 0;
        margin-top: 20px;
      }
    }
  }
}
